*.DS_Store
*.orig
*.rbc
*.sassc
.*.sw?
/.bundle
/.powder
/.powenv
/.rspec
/.rvmrc
/.sass-cache
/config/database.yml
/coverage
/db/*.sqlite3
/log/*
/public/assets
/public/system/*
/public/uploads
/spec/tmp/*
/tmp/*
/vendor/bundle
capybara-*.html
pickle-email-*.html
rerun.txt
/pow/*
